.bundle/
log/*.log
pkg/
tmp/*
log/*
doc
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/uploads/
spec/examples.txt
spec/dummy/db/migrate/*.c.rb
.byebug_history
spec/dummy/.byebug_history
*.sass_cache
.idea/
.tags
.DS_Store
spec/dummy/config/application.yml
coverage
app/assets/components/node_modules
